body, html, header, h1 {
	margin: 0px;
	padding: 0px;
}

body{
	font-family: courier;
	letter-spacing: 6px;
	text-shadow: 1px 1px 10px black;
}

header, body, html {
	width: 100%;
	height: 100%;
}

header {
	background: url(../images/index3.jpg) no-repeat center center;
	background-size: cover;
	color: white;
}

.wrapper {
	display: table;
	width: 100%;
	height: 100%;
}

.content{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
h1 {
	font-size: 100px;
}

a {text-decoration: none; font-weight: bold; color: white; font-size: 40px;}
a:hover {text-decoration: underline;}